@use "../../../styles/colors";

.container {
  label {
    font-size: 0.9rem;
  }

  select {
    width: inherit;
    height: inherit;
    // appearance: none;
    outline: none;
    border: none;
    background: #fff;

    padding: 8px 7px;

    font-size: 14px;

    border: 1px solid colors.$dark-gray;
    border-radius: 5px;

    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;

    &::placeholder {
      font-size: 14px;
    }

    &:not([readOnly]):focus {
      border-color: colors.$blue-200;
      box-shadow: 0 0 2px 2px rgba($color: colors.$blue-200, $alpha: 0.25);
    }

    // & > option {
    // }
  }
}
