.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba($color: #000, $alpha: 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1200px;
  width: max-content;

  padding: 2rem;

  background-color: #fff;

  border-radius: 0.25rem;

  &.open {
    animation: modal-open 0.5s forwards;
  }

  &.close {
    animation: modal-close 0.5s forwards;
  }

  header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    margin-bottom: 2rem;
  }

  @keyframes modal-open {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translate(0);
    }
  }
  @keyframes modal-close {
    from {
      transform: translate(0);
    }
    to {
      transform: translateY(300%);
    }
  }
}

.close__btn {
  appearance: none;
  border: none;
  background: none;

  height: fit-content;

  padding: 5px;

  font-size: 1.2rem;
  font-weight: 600;

  &:hover {
    color: gray;
  }
}
