@use "../../styles/colors";

.header {
  height: 3.5rem;

  display: flex;
  align-items: center;

  padding: 0 1rem;

  background-color: colors.$light-gray;
  box-shadow: 0 1px 0 rgba($color: #000000, $alpha: 0.15);
}
