@use "../../styles/colors";

.table__container {
  width: 100%;

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: inherit;

    thead {
      text-align: left;
      white-space: nowrap;

      line-height: 2.5;
      color: colors.$white;
      background-color: colors.$light-blue;

      tr {
        th {
          font-weight: 600;

          &:first-child {
            padding-left: 0.5rem;
          }

          &.align__center {
            text-align: center;
          }
        }
      }
    }

    tbody {
      line-height: 2.5;
      white-space: nowrap;

      tr {
        td {
          border-width: 0 0 1px 0;
          border-style: solid;
          border-color: colors.$dark-gray;

          &.align__center {
            text-align: center;
          }
          &.skeleton__container {
            padding: 0.5rem 1rem 0.5rem 0;
          }
          &:first-child {
            padding-left: 0.5rem;
          }

          .flex__center {
            display: flex;
            justify-content: center;
          }
        }
      }

      button {
        padding: 0.4rem 0.8rem;
        font-size: 0.75rem;
      }
    }
  }
}
